app-privateheader {
    position: fixed;
    background-color: white;
    width: 100%;
}

.spacer {
    height: 83px;
}

.container {
    height: 400px;
}

.title {
    border-bottom: black solid 1px;
}

.item {
    border-bottom: black solid 1px;
}

.item div {
    display: inline-block;
    font-size: 20px;
}

.name {
    width: 50%
}

.quant {
    width: 15%;
}