<div class="footer">
    <div class="tornaSu">
        <img src="\assets\backtotop.png" style="display: inline-block">
    </div>
    <div class="corpofooter">
        <div class="logofooter">
            <img src="\assets\logo_footer.png">
        </div>
        <div class="footerlink">
            <div>scaricaApp</div>
            <div>funzionalita</div>
            <div>contatti</div>
            <div>privacy</div>
            <div>accedi</div>
        </div>
        <div class="seguici">
            <div>seguici su</div>
            <div><img src="\assets\appstore.png"></div>
            <div><img src="\assets\appstore.png"></div>
        </div>
    </div>
</div>