.header {
    width: auto;
    float: right;
    margin-right: 0;
    background-color: white;
    position: fixed;
    height: 50px;
    z-index: 9999;
}

.menu {
    float: right;
}

.logo {
    padding: 15px 15px;
    margin-left: 0px;
}

.liste,
.ricette,
.utente {
    float: left;
    margin: 25px 15px;
    font-size: 20px;
    cursor: pointer;
}

.utente {
    background-color: #66ccff;
    color: white;
    border-radius: 25px;
    margin-top: 20px;
    padding: 5px;
}