<div class="veil">
</div>

<div id="modal-confirm" *ngIf="confirm_modal">

    <div class="title">Elimina Lista</div>
    <div class="text">Vuoi eliminare definitivamente la lista <strong>{{list}}</strong>?</div>
    <hr>

    <div class="buttons">
        <div class="annulla" (click)="back">Annulla</div>
        <div class="conferma" (click)="confirm">Conferma</div>
    </div>
</div>



<div id="modal-register" *ngIf="register_modal">
    <div class="grid-container">
        <div class="title-register grid-logo">
            <img src="assets/faispesa_txt.png" />
            <p>Crea un Account</p>
        </div>
        <div class="grid-img">
            <img class="img" src="assets/BG_login.jpg" />
        </div>
    </div>
</div>