<div class="veil">
</div>

<div class="input">

    <div class="title">{{ModalItem.title}}
        <div class="closeModal" (click)="close()"></div>
    </div>
    <div class="text" [innerHtml]="ModalItem.subtitle"></div>

    <div *ngIf="ModalItem.showPhotoAdd">
        <input id="file-input" hidden type="file" name="pic" accept="image/*">
        <label for="file-input">
            <div class="photoAdd">
                <img src="/../assets/img/camera_2.png">
            </div>
        </label>
    </div>
    <div class="login" *ngFor="let textbox of ModalItem.textboxs">
        <label class="labelEmail">{{textbox.label}}</label><br>
        <input class="email" type="{{textbox.type}}" [(ngModel)]="textbox.key" value="{{textbox.setValue(textbox.key)}}"><br>
    </div>

    <hr class="divider">
    <div class="buttons" *ngIf="ModalItem.undo.show || ModalItem.confirm.show">
        <div class="annulla" *ngIf="ModalItem.undo.show" (click)="ModalItem.undo.callback()">{{ModalItem.undo.title}}</div>
        <div class="conferma" *ngIf="ModalItem.confirm.show" (click)="ModalItem.confirm.callback()">{{ModalItem.confirm.title}}</div>
    </div>
</div>