<a #scarica></a>
<div class="home">
    
  <div class="scarica" id="scarica">
      
    <!--<div class="phone">
      <img src="../../../assets/phone.png">
    </div>-->
    <div class="img">

      <div class="scaricatext">
        <h1>IL NUOVO MODO DI FAR SPESA!</h1>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
    </div>
    <div class="market">
      <label>Scarica l'applicazione per il tuo smatphone</label>
      <br>
      <div class="marketimg">
        <img src="../../../assets/appstore.png" style="margin-right:10%">
        <img src="../../../assets/playstore.png">
      </div>
      <label>Oppure accedi o registrati alla versione desktop</label>
    </div>
  </div>
  <div class="funzionalita" id="funzionalita">
      <a #funzionalita></a>

    <div class="whitearrow" (click)="scrollToFunzionalita()">
      <div>
        <img src="../../../assets/arrow_white.png">
      </div>
    </div>

    <div class="scopri">
      <h2> Scopri le funzionalità, fai la spesa senza pensieri! </h2>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>

    <div class="tutorial">
      <div class="tutleft">
        <div class="tut1">
          <h3>Crea e salva le tue liste</h3>
          <img src="../../../assets/home_liste.png">
          <br> Compri sempre gli stessi articoli o aggiungi sempre nuovi prodotti?

        </div>
        <div class="tut2">
          <h3>Invia liste ai tuoi amici</h3>
          <img src="../../../assets/home_share.png">
          <br> Invia le liste della spesa a chi vuoi e ricevi le liste dai tuoi contatti
        </div>
      </div>
      <div class="tutright">
        <div class="tut3">
          <h3>Aggiungi gli ingredienti alle tue ricette</h3>
          <img src="../../../assets/home_ricette.png">
          <br> Cosa devi preparare per cena? Torta al cioccolato o piatto light?
        </div>
        <div class="tut4">
          <h3>Aggiungi e spunta gli articoli</h3>
          <img src="../../../assets/home_cart.png">
          <br> Controlla tutto prima di andare in cassa, non sbagliare più
        </div>
      </div>
    </div>

  </div>
  <div class="contatti" id="contatti" >
    <a #contatti></a>
    <div class="bluearrow" (click)="scrollToContatti()">
      <div>
        <img src="../../../assets/arrow_blue.png">
      </div>
    </div>
    <h2>Vuoi scriverci un messaggio?</h2>
    Il parere dei nostri utenti è molto importante per noi

    <form >
        <textarea name="testo" rows="10" cols="40">
            Il tuo messaggio
          </textarea><br>
        <button type="button">INVIA MESSAGGIO</button>
    </form>
  </div>
  <div></div>
</div>