<div class="menu">
    <div class="logo"><img src="\assets\logo.png"></div>
    <div class="corpo">

        <a href="#" class="liste  ">Liste</a>
        <a href="#" class="ricette">Ricette</a>
        <a href="#" class="utente"></a>
    </div>
    <div class="listapresente">
        Nessuna lista presente
    </div>
    <div class="contenitorelista">
        <div class="elementi">
            <div class="listatop">
                <div class="text">Spesa</div>
            </div>
            <div class="listabottom">
                <div class="text"></div>
            </div>
        </div>
    </div>
    <button class="aggiungilista">+</button>
    <app-footer></app-footer>
</div>