<app-privateheader></app-privateheader>
<div class="title">Elenco liste della spesa( {{nOfListe}} )</div>
<div class="corpo">
<div class= "container">
  <div class="lista">
      <div class="options">
        <div class="nameop">Spesa A</div>
        <div class="icons">
          <img src="../../../assets/modify.png" class="modify">
          <img src="../../../assets/send.png" class="send">
          <img src="../../../assets/delete.png" class="delete">
        </div>
      
  
    </div>
    <label>PR</label>
    <div class="name">Spesa A</div>
</div>
</div>
