<div class="conatiner">
    <div class="logo"><img src="\assets\logo.png"></div>
    <div class="corpo">
        <div class="scarica">scarica</div>
        <div class="funzionalita">funzionalita</div>
        <div class="contatti">contatti</div>
        <div class="registrazione">registrazione</div>
        <div class="accedi">accedi</div>
    </div>
    <div class="footer">
        <div class="tornaSu">
            <img src="\assets\backtotop.png">
        </div>
        <div class="logofooter"><img src="\assets\logo_footer.png"></div>
        <div class="footernav">
            <div class="scaricaAppfooter">scaricaApp</div>
            <div class="funzionalitafooter">funzionalita</div>
            <div class="contattifooter">contatti</div>
            <div class="privacyfooter">privacy</div>
            <div class="accedifooter">accedi</div>
        </div>

    </div>
</div>